#body {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    padding: 20px;
}  

#form_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px lightgrey;
}

#data_entry {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: auto;
    width: 100%;
    max-width: 75%;
}

.form_labels {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.radio_btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.radio_btn {
    accent-color: rgb(16,140,92);
}

#data1 {
    background-color: white;
}

.form_input {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    background-color: rgb(244, 252, 248);
    border: none;
    margin-bottom: 12px;
    padding: 8px; /* Add padding for better input experience */

}

.form_submit {
    margin-top: 20px;
    width: 100%;
    height: 6vh;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    
}

.form_submit:hover {
    transition-duration: 0.4s;
}

.update_active {
    background-color: rgb(16,140,92);
    cursor: pointer;

}

.update_inactive {
    cursor: not-allowed;
    background-color: lightgrey;
}

#body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
    padding: 20px;

} 

@media (min-width: 768px) {
    #form_container {
        width: 60%; /* Wider form for tablets and up */
    }

    .form_input, #form_submit, #sign_in_btn {
        width: 80%; /* Larger inputs and buttons */
    }

    .form_labels {
        font-size: 1.2rem; /* Larger font size for better readability */
        padding-top: 10px;
    }
}